<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mainenance Mode</title>

</head>

<body>
    <h1>The Site is in Mainenance mode</h1>
    <p>We are currently in Mainenance mode, we'll be back soon!</p>
</body>

</html>